html, body {
	color: #212121; 
	height: 100%; 
	width: 100%; 
	padding: 0; 
	margin:0;
}
div.container {
	width: auto;
	max-width: 520px;
	min-height: 220px;
	margin: 0 auto;
	padding: 22px;
	background-color: #fff;
	border: 1px solid #999;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0 0 6px 2px #CCC;
	-webkit-box-shadow: 0 0 6px 2px #CCC;
	box-shadow: 0 0 6px 2px #CCC;
	position: relative;
	top: 15%;
}
pre {
	padding: 0.5em 0.2em;
}